<div class="more">
    <div>
        <p>To learn more about this project, reach out.</p>
        <p style="font-size:smaller">kristy.graybill @ gmail.com </p>
    </div>

    <div>
        {% assign current_collection = page.collection %}
        {% assign projects = site[current_collection] %}

        {% if page.next %}
            {% assign next_project = page.next %}
        {% else %}
            {% assign next_project = projects.first %}
        {% endif %}

        {% if page.previous %}
            {% assign prev_project = page.previous %}
        {% else %}
            {% assign prev_project = projects.last %}
        {% endif %}

        <div class="next-project-footer" style="">

            <a href="{{ prev_project.url | relative_url }}" class="prev-card" rel="prev">
                <!--<div class="next-label">Previous Project</div>
                <div class="next-title">{{ prev_project.title }}</div>-->
                <i class="mi material-icons">arrow_back</i> 
            </a>

            <a href="{{ next_project.url | relative_url }}" class="next-card" rel="next">
                <!--<div class="next-label">Next Project</div>
                <div class="next-title">{{ next_project.title }}</div>-->
                <i class="mi material-icons">arrow_forward</i> 
            </a>
        </div>
    </div>
</div>