<nav class="site-nav" role="navigation">
  <div id="nav-menu" class="nav-links">
    <div class="name"><a href="/index.html"><h1>kristy g.</h1></a></div>
    <a href="#" class="menu-close"><span class="material-icons">close</span></a>
    <a href="#nav-menu" class="menu-open"><span class="material-icons">menu</span></a>
    <ul>
      <li class="nav-item"><a href="/index.html#UX">UX/UI</a></li>
      <li class="nav-item"><a href="/index.html#Motion">Motion</a></li>
      <li class="nav-item"><a href="/index.html#Graphic">Branding</a></li>
<!--      <li class="nav-item"><a href="/me/">More</a></li>-->
    </ul>
  </div>
</nav>