---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="projects_wrap">
    <div class="projects__list">

      {%- assign motion = site.motion | default: nil -%}
      {%- assign graphic = site.graphic | default: nil -%}
      {%- assign ux = site.ux | default: nil -%}
      {%- assign personal = site.personal | default: nil -%}

      {%- assign projects = "" -%}

      {%- if motion -%}
        {%- assign projects = motion -%}
      {%- endif -%}

      {%- if graphic -%}
        {%- if projects == "" -%}
          {%- assign projects = graphic -%}
        {%- else -%}
          {%- assign projects = projects | concat: graphic -%}
        {%- endif -%}
      {%- endif -%}

      {%- if ux -%}
        {%- if projects == "" -%}
          {%- assign projects = ux -%}
        {%- else -%}
          {%- assign projects = projects | concat: ux -%}
        {%- endif -%}
      {%- endif -%}

      {%- if personal -%}
        {%- if projects == "" -%}
          {%- assign projects = personal -%}
        {%- else -%}
          {%- assign projects = projects | concat: personal -%}
        {%- endif -%}
      {%- endif -%}

      {%- for project in projects -%}
        {% include project-card.html project=project %}
      {%- endfor -%}

    </div>
  </div>

  <!-- Optional posts list -->
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
</div>
