



    .site-header {
      background-color: rgb(58, 57, 55);

      .wrapper {
        text-align:center;
      }

      .site-title {
        display:contents;
      }

    }


    .site-nav {
      float:none;
    
      .page-link {
        color: #F8B0A3;
        line-height: 1.5;
        font-family: 'Lemon';
        font-size: 1.4em;

      }
    }

    /** Wrapper **/
    .wrapper { 
      max-width: -webkit-calc(800px - (30px * 2));
      max-width: calc(800px - (30px * 2));
      margin-right: auto;margin-left: auto;
      padding: 0px 0px 30px;
      display: table;

      @media screen and (max-width: 800px) {
        .wrapper {
          max-width: -webkit-calc(800px - (30px));
          max-width: calc(800px - (30px));
        }
      }
      
      video {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
        top: 50px;
        margin-top: -70px;
      }
    }

    /** Projects **/

    .page-content {
      .wrapper {
        max-width: fit-content;
        padding: 0 4em;
      }
    }

    .projects__list {
      display:inline-flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    a:hover, :focus {
          text-decoration:none;
          color:rgb(58, 57, 55); 

          .project img {
            transform: scale(1.1);
          }
        
    }

    a:visited {
          text-decoration:none;
          color:rgb(58, 57, 55); 
    }
    
    a p, h3 {
        color:rgb(58, 57, 55);    

    }

    .projects__list a:not(:last-child) {
      margin-right: 1em;
    }

    .project {
      border-radius: .5em;
      margin-bottom: 2em;
      overflow: hidden;
      max-width: 500px;

      .descriptions {
        padding: 2em;
      }

      img {
        border-bottom-left-radius: .5em;
        border-bottom-right-radius: .5em;
        transition: all 0.3s ease-in-out;    
      }
    }


    .project__title {
      font-family: 'Fira Sans';
      font-weight: 700;
      font-size: 1.4em;
      margin: 16px 0px 16px 0px;
      letter-spacing: -.01em;
      line-height: 1em;
    }

    ul.project__tag {
      list-style: none;
      display:flex;
      margin-left: 0px;
      margin-bottom:2em;
      flex-wrap: wrap;
    }

    li.project__tag {
      font-family: 'Fira Sans';
      padding: 4px 12px;
      background-color: #cbda5a;
      border-radius: 7px;
      color: rgb(58, 57, 55);
      font-weight: 600;
      font-size: .75em;
      margin-right: 4px;
      margin-bottom: 4px;
      letter-spacing:0.05em;
    }


    /** Footer **/
    footer {
      background-color: rgb(58, 57, 55); 

    }