<div class="col-lg-3 col-md-6">
  <a class="project__link" href="{{ include.link }}">
    <div class="project-reveal">
      
      {% if include.image %}
        <img src="{{ include.image }}" alt="{{ include.title }}" class="project-reveal__image">
      {% endif %}
      <div class="project-reveal__overlay">
        <div class="project-reveal__content">
          <h3 class="project-reveal__title">{{ include.title }}</h3>
          <p class="project-reveal__client">{{ include.client }}</p>
          <!--i class="mi material-icons">arrow_forward</i> -->
        </div>
      </div>
    </div>
  </a>
</div>